# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
# Virtual environments
venv/
backend/venv/
# Uploads (user generated content)
backend/app/static_uploads/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
