@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glass {
        @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-lg;
    }

    .glass-dark {
        @apply bg-gray-900/40 backdrop-blur-md border border-white/10 shadow-lg;
    }
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}


::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-600;
}

#homeSlider img {
    transform: translateZ(0);
}